:root {
    --font-family: "Roboto", "Arial", sans-serif;
    --second-family: "Bebas Neue", sans-serif;
    --third-family: "Rubik", sans-serif;
    --orange-acent: #e74214;
    --orange: #ea4c14;
    --bg-light: #2e2e31;
    --bg-dark: #222224;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background: var(--bg-dark);
    color: #efefef;
}

.body--opend-menu {
    overflow: hidden;
}

.container {
    max-width: 1396px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main-hero {
    padding: 186px 0 84px;
}

.main__services {
    padding-bottom: 146px;
}

.main__motivation {
    margin-bottom: 150px;
}

.main__description {
    padding: 150px 0 83px 0;
}

.main__complex-development {}

.button {
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    padding: 4px 35px 0px 35px;
    width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    border: 2px solid var(--orange);
    background: var(--orange);
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #efefef;
}

/* ========================== */
[data-title] {
    position: relative;
    cursor: help;

}

a[data-title]::after {
    content: attr(data-title);
    position: absolute;
    left: -132px;
    top: 72px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    border-radius: 0 6px 6px 6px;
    width: 270px;
    max-height: 101px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.7em;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: #9da0a3;
    z-index: 2;
}

a[data-title]:hover::after {
    opacity: 1;
}

div[data-title]::before {
    content: attr(data-title);
    position: absolute;
    left: 20%;
    top: 20%;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    border-radius: 0 6px 6px 6px;
    width: auto;
    max-height: 40px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.7em;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: #9da0a3;
    z-index: 2;
    white-space: nowrap;
}

div[data-title]:hover::before {
    opacity: 1;
}

/* ======================================== */

.accordion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-list__item {
    min-height: 90px;
    border-bottom: 1px solid #9da0a342;
    width: 100%;

}

.accordion-list__control {
    display: flex;
    gap: 10px;
    align-items: center;
}

.accordion-list__control-title {
    font-family: var(--third-family);
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    color: #efefef;
    transition: var(--transition);

}

.accordion-list__control:hover .accordion-list__control-title {
    color: var(--orange);
}

.accordion-list__item--opened .accordion-list__control-title {
    color: var(--orange);
}

.accordion-list__control-icon line {
    stroke: #efefef;
    transition: var(--transition);

}

.accordion-list__control-icon svg {
    transform: rotate(-90deg);
    transition: var(--transition);

}

.accordion-list__control:hover svg {
    transform: rotate(0deg);
}

.accordion-list__control:hover line {
    stroke: var(--orange);
}

.accordion-list__item--opened .accordion-list__control-icon svg {
    transform: rotate(0deg);
}

.accordion-list__item--opened .accordion-list__control-icon line {
    stroke: var(--orange);
}

.accordion-list__control-icon {}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {

    letter-spacing: 0.02em;
    color: #efefef;
}

.accordion-content__title {}

.accordion-content__list {}

.accordion-content__item {
    margin-left: 25px;
    position: relative;
}

.accordion-content__item::before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #efefef;
}

/* =============================== */

.tab-content-Swap {
    display: none;
}

.tab-content-Swap--show {
    display: block;
}
.tab2-content-Swap {
    display: none;
}

.tab2-content-Swap--show {
    display: block;
}
.tab3-content-Swap {
    display: none;
}

.tab3-content-Swap--show {
    display: block;
}
.tab4-content-Swap {
    display: none;
}

.tab4-content-Swap--show {
    display: block;
}

/* ====================================== */

.modal {
    z-index: 10;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}
.modal2 {
    z-index: 10;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal--opend {
    opacity: 1;
    visibility: visible;
}

.body--opend-modal {
    overflow: hidden;
}

.modal__windom {
    position: relative;
    border-radius: 6px;
    max-width: 1040px;
    height: 850px;
    background: #f9f9f9;
    padding: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.modal2__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__close path,
rect {
    stroke: #000;
    transition: var(--transition);
}
.modal2__close path,
rect {
    stroke: #000;
    transition: var(--transition);
}

.modal__close:hover path,
.modal__close:hover rect {
    stroke: var(--orange);
}
.modal2__close:hover path,
.modal2__close:hover rect {
    stroke: var(--orange);
}




.modal__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #1c1c1c;
}

.modal__subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    margin-bottom: 34px;
    color: #1c1c1c;
}

.modal__info {
    font-weight: 500;
    margin-bottom: 25px;
}

.modal__info a {
    color: var(--orange);
}

.modal__text {
    margin-bottom: 17px;
}

.modal__list {
    margin-bottom: 25px;
}

.modal__item {
    margin-left: 25px;
    position: relative;
}

.modal__item::before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1c1c1c;
}

.modal__futer {}


/* ============================ */
.complex-development__slaider {
/* min-width: 0; */
}

.complex-development__swiper {
    position: relative;
    max-width: 859px;
    max-height: 1104px;
}
.complex-development__wrapper {

}
.complex-development__slide {
   
}
.complex-development__slide-img {
    
}
.complex-development__slide-img img{
    width: 100%;
  
    object-fit: cover; 
    object-position: center;
}

.complex-development__nav-wraper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 858px;
    height: 61px;
    background: #0a0a0abd;
}

.complex-development__nav {
    z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 100px;
    width: 311px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.complex-development__prev,
.complex-development__next {
    background: transparent;
}

.complex-development__prev {}

div.complex-development__scrollbar.swiper-scrollbar {
    height: 1px;
    background: #fff;
    width: 253px;
    position: static;
    display: flex;
    align-items: center;
}


.complex-development__scrollbar .swiper-scrollbar-drag {
    height: 3px;
    background: #ea4c14;
    width: 48px;
    border-radius: 0;

}

.complex-development__slaider {
    max-width: 859px;
    max-height: 1104px;
    margin-left: -268px;
}