@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "swiper-bundle.min.css";

@import "heder.css";




/* ============================================================== */
/* ============================================================== */
/* ============================================================== */



.hero__inner {
    display: flex;
    gap: 74px;
    align-items: end;
    justify-content: space-between;
}

.hero__info {
    /* padding-bottom: 43px; */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 424px;
}

.hero__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 70px;
    line-height: .97;
    letter-spacing: 0.01em;
    padding-bottom: 25px;

}

.hero__text {
    width: 424px;
    letter-spacing: 0.02em;
    padding-bottom: 50px;

}

.hero__button {
    border-radius: 6px;
    max-width: 400px;
    background: var(--orange);
    letter-spacing: 0.01em;
    color: #fff;
    padding: 23.5px 4px 19.5px;
    text-align: center;
}



.hero__swiper {
    max-width: 870px;
    max-height: 517px;
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-items: flex-end;
    gap: 27px;
}

.hero__wrapper {}

.hero__slide {
    display: flex;
    height: auto;
    border-radius: 10px;
    transition: var(--transition);
    opacity: 0;
}

.hero__slide.swiper-slide-next {
    opacity: .5;
}

.hero__slide.swiper-slide-prev {
    opacity: 0;
}

.hero__slide.swiper-slide-active {
    opacity: 1;
}

.swiper-button-disabled {

    cursor: auto;
}

.swiper-button-disabled line {
    stroke: #403833;
}


.hero__slide-img {
    position: relative;
    width: 100%;
    max-height: 517px;
    border-radius: 10px;
    overflow: hidden;
}

.hero__slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%
}

.hero_slider-text {
    max-width: 68px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_slider-text p {
    display: block;
    flex-shrink: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: #fff;
    transform: rotate(90deg);
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    gap: 20px;
}


.hero__prev,
.hero__next {
    background: transparent;
}

.hero__prev {}

.hero__scrollbar.swiper-scrollbar {
    height: 1px;
    background: #fff;
    width: 253px;
    position: static;
    display: flex;
    align-items: center;
}


.hero__scrollbar .swiper-scrollbar-drag {
    height: 3px;
    background: #ea4c14;
    width: 48px;
    border-radius: 0;

}

/* =================================================== */


.services {}

.services__inner {
    display: flex;
    flex-direction: column;
}


.services__title {
    line-height: 1.36;
    color: #efefef;
    padding-bottom: 100px;
}

.services__list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 26px 29px;
    padding-bottom: 156px;
}

.services__list-item {
    max-width: 436px;
    height: 180px;
    border: 2px solid #464646;
    border-radius: 5px;
    background: #191919;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: var(--transition);
}

.services__list-item:has(.services__link:hover) {
    border: 2px solid var(--orange);
}

.services__link {
    display: flex;
    gap: 20px;
    align-items: center;
}


.services__button {}

.services__list-img img {
    width: 100%;
    height: 100%;
}

.services__list-text {
    max-width: 220px;
}


.services__info {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) auto;
    /* grid-template-rows: auto 15px; */
}

.services__info-item {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--orange);
    border-bottom: 1px solid #9b9b9b;
    border-right: 1px solid #515151;
    padding: 19px 28px;
    position: relative;
}

.services__info-item:last-child {
    border-left: none;
    border-right: none;
    padding: 0px 15px;
}

.services__info-item:first-child {
    border-left: none;
    border-right: 1px solid #515151;
    padding: 0px 15px;
}

.services__info-item:first-child::after {
    display: none;
}

.services__info-item:first-child::before {
    display: none;
}

.services__info-item::after {
    content: "";
    display: block;
    background: #515151;
    width: 24px;
    height: 3px;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -2px;
    left: -12px;
}

.services__info-item::before {
    content: "";
    display: block;
    background: #515151;
    ;
    width: 15px;
    height: 1px;
    transform: rotate(90deg);
    position: absolute;
    bottom: -7.5px;
    left: -7.5px;
}




.services__info-item span {
    display: block;
}

.services__info-item span:last-child {
    color: #EFEFEF;
}

/* =============================================== */

.motivation {
    background: #171719;
}

.motivation__inner {
    display: flex;

}


.motivation__info {
    max-width: 547px;
    /* height: 637px; */
    padding: 66px 38px 60px 0;
}


.motivation__background {
    width: 100%;
    height: 637px;

    margin-left: auto;
    margin-right: -20%;
    background: url(../img/content/Visualized-real-estate.jpg) no-repeat 50% 50%/ cover;
}

.motivation__background img {
    width: 100%;
    height: 100%;
}

.motivation__visual {
    display: flex;
    align-items: end;
    gap: 15px;
    padding-bottom: 60px;
}

.motivation__visual-img {
    display: flex;
    gap: 5px;
    border: 2px solid #fff;
    width: 172px;
    height: 218px;
    align-items: end;
}

.motivation__visual-img img {
    width: 42px;
    height: 42px;
}

.motivation__visual-plus {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 86px;
    width: 118px;
}

.motivation__visual-number {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 95px;
    color: var(--orange);
}

.motivation__visual-column {
    align-content: end;
    width: 44px;
    height: 218px;
    background: var(--orange);
    animation: visualColumn 5s linear infinite;

}

@keyframes visualColumn {

    0% {
        width: 44px;
        height: 44px;
    }

    100% {
        width: 44px;
        height: 218px;
    }



}

.motivation__visual-percent {}

.motivation__visual-text {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #a5a5a5;
}

.motivation__text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: .97;
    letter-spacing: 0.01em;
    color: #fff;
}

/* =============================================== */



.description {
    background: var(--bg-light);
}



.description__inner {
    display: flex;
    gap: 96px;
    justify-content: space-between;
}

.description__control {
    max-width: 534px;
    min-width: 450px;
}

.tab-controls {}

.tab-controls__item {
    padding: 46px;
    border-bottom: 1px solid #e3e2e236;
}

.tab-controls__item:first-child {
    padding-top: 0;
}

.tab-controls__item:last-child {
    border-bottom: none;
}

.tab-controls__link {
    position: relative;

    display: block;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: var(--orange);
    transition: var(--transition);
}

.tab-controls__link span {

    color: #efefef;
}

.tab-controls__link--active {
    padding-left: 45px;
}

.tab-controls__link--active::before {
    content: url(../img/icon/arrow-4.svg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
}

.tab-controls__link:hover {
    padding-left: 45px;
}

.tab-controls__link:hover::before {
    content: url(../img/icon/arrow-4.svg);
    position: absolute;
    left: 0;
    top: 0;


}



.description__content {
    max-width: 784px;
}

.tab-content {
    display: none;
}

.description__tab-content {}

.tab-content--show {
    display: block;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-list__item {
    min-height: 90px;
    padding: 30px 30px 30px 50px;
    border-left: 1px solid #9da0a342;
    border-bottom: 1px solid #9da0a342;
    width: 100%;
}

.accordion-list__control {
    display: flex;
    gap: 10px;
    align-items: center;
}

.accordion-list__control-title {
    font-family: var(--third-family);
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    color: #efefef;
    transition: var(--transition);

}

.accordion-list__control:hover .accordion-list__control-title {
    color: var(--orange);
}

.accordion-list__item--opened .accordion-list__control-title {
    color: var(--orange);
}

.accordion-list__control-icon line {
    stroke: #efefef;
    transition: var(--transition);

}

.accordion-list__control-icon svg {
    transform: rotate(-90deg);
    transition: var(--transition);

}

.accordion-list__control:hover svg {
    transform: rotate(0deg);
}

.accordion-list__control:hover line {
    stroke: var(--orange);
}

.accordion-list__item--opened .accordion-list__control-icon svg {
    transform: rotate(0deg);
}

.accordion-list__item--opened .accordion-list__control-icon line {
    stroke: var(--orange);
}

.accordion-list__control-icon {}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {

    letter-spacing: 0.02em;
    color: #efefef;
}

.accordion-content__title {}

.accordion-content__list {}

.accordion-content__item {
    margin-left: 25px;
    position: relative;
}

.accordion-content__item::before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #efefef;
}

/* =========================================================== */

.steps {}

.main__steps {
    padding: 103px 0 110px;
}

.steps__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.steps__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #efefef;
}

.steps__title span {
    color: var(--orange);
}

.steps__info {}

.steps__list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
}

.steps__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 215px;
    
}
.steps__item:last-child {
  margin-right: 25px;
}
.steps__item img {
    margin-top: 20px;
}

.steps__number {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 1.36;
    letter-spacing: 0.01em;
    color: var(--orange);
}

.steps__text-acent {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--orange);
}

.steps__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    text-align: center;
    color: #efefef;
}

.steps__button {}



/* ============================================================== */
/* ============================================================== */

@media (max-width:1400px) {
    .hero__inner {
        gap: 25px;
    }

    .hero__info {
        padding-bottom: 43px;
    }



    .hero__text {
        width: auto;
    }


    .hero__swiper {
        max-width: 57%;
    }

    .hero_slider-text p {
        font-size: 2.5vw;
    }

    /* =================== */

    [data-title]::after {
        top: 100px;
    }
}

@media (max-width:1200px) {
    .heder__nav-list {
        font-size: 16px;
    }

    .heder__nav {
        gap: 40px;
    }

    .heder__nav-list {
        gap: 20px;
    }

    /* ======================================= */
    .hero__button {
        padding: 13.5px 4px 9.5px;
    }

    .hero__title {
        font-size: 5vw;
    }

    /* ============================= */

    .services__info {
        grid-template-columns: 15px 1fr 1fr 15px;
        grid-template-rows: 1fr 40px 1fr;
    }

    .services__one {
        grid-column: 2/3;
    }

    .services__two {
        grid-column: 3/4;

    }

    .services__three {
        grid-column: 2/3;
        grid-row: 3/4;
        border-left: 1px solid #515151;

    }

    .services__four {
        grid-column: 3/4;
        grid-row: 3/4;

    }

    [data-title]::after {
        top: 80px;
    }

    .services__four::after {
        content: "";
        display: block;
        background: #515151;
        width: 24px;
        height: 3px;
        transform: rotate(-135deg);
        position: absolute;
        bottom: -2px;
        left: -12px;
    }

    .services__one {
        border-left: 1px solid #515151;

    }

    .services__info-item:last-child {
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 0px 5px;
    }

    .services__info-item:first-child {
        border-left: none;
        border-bottom: none;
        border-right: none;
        grid-column: 4/5;
        grid-row: 3/4;
        padding: 0px 5px;
    }

    .services__info-item:first-child::after {
        content: "";
        display: block;
        background: #515151;
        width: 24px;
        height: 3px;
        transform: rotate(-135deg);
        position: absolute;
        bottom: -2px;
        left: -12px;
    }

    .services__info-item:first-child::before {
        content: "";
        display: block;
        background: #515151;

        width: 15px;
        height: 1px;
        transform: rotate(90deg);
        position: absolute;
        bottom: -7.5px;
        left: -7.5px;
    }

    /* ===================================== */

    .tab-controls__link {
        font-size: 40px;
    }

    .accordion-list__item {
        font-size: 14px;
    }

    .description__inner {
        gap: 46px;
    }

    .description__control {
        min-width: 385px;
    }
    /* ==================================== */

    .steps {
        display: none;
    }
}

@media (max-width:1000px) {
    .heder__inner {
        justify-content: center;
    }

    .heder__tel,
    .heder__mail {
        display: none;
    }

    /* ====================== */
    .services__list {
        padding-bottom: 66px;
    }

    /* ========================== */
    .motivation__info {
        max-width: 460px;
    }

    /* =============================== */
    .tab-controls__link {
        font-size: 30px;
    }

    .accordion-list__item {
        font-size: 13px;
    }

    .description__inner {
        gap: 26px;
    }

    .description__control {
        min-width: 326px;
    }

}


@media (max-width:900px) {
    .heder__nav-list {
        position: fixed;
        inset: 0;
        z-index: -1;
        font-size: 24px;
        padding: 24vh 15px 30px;
        opacity: 0;

        visibility: hidden;
        transform: translateY(-50%);
        transition: var(--transition);
        background: var(--bg-dark);
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }

    .body--opend-menu .heder__nav-list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }

    .heder__inner {
        justify-content: space-around;
    }

    .heder__nav-link::before {
        content: '';
        position: absolute;
        bottom: -5px;
    }

    .heder__menu-list {
        position: absolute;
        bottom: -10px;
        left: -250%;
        font-size: 20px;
    }

    .heder__menu-item {
        border: none;
        height: 40px;
        padding: 7px 10px;
    }

    .heder__menu:hover .heder__menu-list {
        overflow: hidden;
        opacity: 0;
        height: 0;
    }

    .burger-icon {
        display: flex;
    }

    .heder__info {
        display: none;
    }

    /* ========================================== */

    .hero__info {
        align-self: center;
        text-align: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .hero__inner {
        flex-direction: column;
    }

    .hero__swiper {
        align-items: center;
    }

    .hero__slide.swiper-slide-prev {
        opacity: .5;
    }

    .hero__swiper {
        max-width: 84.7%;
    }

    .hero__title {
        font-size: 56px;
        padding-bottom: 39px;
    }

    .hero__text {
        padding-bottom: 44px;
    }

    /* ==================================== */

    .main__services {
        padding-bottom: 78px;
    }

    .services__list {
        grid-template: none;
        width: 100%;
        gap: 13px;
    }

    .services__inner {
        align-items: center;
    }

    .services__title {
        display: none;
    }

    .services__list-item {
        max-width: 100%;
        height: 115px;
        padding: 23px 23px 23px 94px;
        justify-content: start;
    }

    .services__list-img {
        height: 100%;
    }

    .services__list-text {
        max-width: 100%;
    }

    /* ===================== */

    .motivation__background {
        display: none;
    }

    .motivation__info {
        max-width: 100%;
        padding: 59px 47px 31px 52px;
        display: flex;
        gap: 24px;
        position: relative;
    }

    .motivation__visual {
        padding-bottom: 30px;
    }

    .motivation__visual-text {
        position: absolute;
        bottom: 10px;
        left: 0;
    }

    /* =============================== */
    .description__inner {

        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:700px) {
    .services__info-item {
        border: none;
    }

    .services__list {
        padding-bottom: 43px;
    }

    .services__info {
        grid-template: repeat(4, 1fr) / 1fr;
    }

    .services__one {
        grid-column: 1;
        border-bottom: 1px solid #e2e1e1;
    }

    .services__two {
        grid-column: 1;
        border-bottom: 1px solid #e2e1e1;
    }

    .services__three {
        grid-column: 1;
        grid-row: 3;
        border-bottom: 1px solid #e2e1e1;
    }

    .services__four {
        grid-column: 1;
        grid-row: 4;
    }

    .services__info-item::after {
        display: none;
    }

    .services__info-item::before {
        display: none;
    }

    .services__info-item:last-child {
        display: none;
    }

    .services__info-item:first-child {
        display: none;
    }

    /* ==================================== */
    .motivation__info {
        padding: 59px 47px 145px 52px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;

    }

    .motivation__visual-text {
        bottom: 50px;
    }


}

@media (max-width:450px) {

    .hero__title {
        font-size: 41px;
        letter-spacing: -0.01em;
        padding-bottom: 5px;
    }

    .hero__text {
        font-size: 15px;
        line-height: 1.62;
        padding-bottom: 20px;
    }

    .hero__info {
        padding-bottom: 15px;
    }

    .main-hero {
        padding: 120px 0 40px;
    }

    /* ======================== */

    .services__list-item {
        height: 70px;
        padding: 15px;
    }

    .services__list-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        line-height: 1.62;

    }

    .services__info-item {

        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.01em;
    }

    /* ============================== */

    .motivation__text {
        font-size: 28px;
        line-height: 1;
        letter-spacing: 0.01em;
    }

    .motivation__visual-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.5;
        text-align: center;
    }

    .motivation__info {
        padding: 59px 47px 118px 52px;

    }

    /* ================================ */

    .description {
        display: none;
    }
}